body {
    background-color: #dbe8ff;
}

.container-fluid {
    background-color: #dbe8ff;
    height: 80px;
    position: fixed;
    top: 0;
}

.navbar {
    padding: 0px;
    height: 63px;
}

.nav-link {
    color: black;
    margin: 8px;
}

.logo {
    width: 150px;
}

.dropdown-item {
    margin: 7px;
    height: 27px;
    width: 81px;
}

/* .btn1:hover {
    background-color: #007bff;
    color: white;
} */
.btn {
    background-color: #007bff;
    color: white;
    width: 95px;
    height: 37px;
    margin: 8px;

}

/* .btn1 {
    background-color: #007bff;
    color: white;
    width: 95px;
    height: 37px;

}
.btn2 {
    background-color: #007bff;
    color: white;
    width: 95px;
    height: 37px;
} */

.btn1 a {
    color: white;
    text-decoration: none;
}

.paragraph1 h1 {
    font-family: 'Noto Serif', serif;
    margin-left: 550px;
    margin-top: -251px;
    letter-spacing: 5px;
    font-size: 58px;
}

.paragraph2 h1 {
    font-family: 'Noto Serif', serif;
    margin-left: 756px;
    margin-top: -16px;
    letter-spacing: 5px;
    font-size: 58px;
}

.paragraph3 h1 {
    font-family: 'Noto Serif', serif;
    margin-left: 918px;
    margin-top: -16px;
    letter-spacing: 5px;
    font-size: 58px;

}

.main2 {
    margin-top: 71px;
    margin-left: 128px;
}

.main3 {
    width: 100vw;
}

.url p {
    margin-top: 354px;
    font-size: 34px;
    margin-left: 209px;
}

.boxfor {
    width: 587px;
    margin-left: 209px;
    margin-bottom: 123px;
    padding-top: 0px;
}

.form-control {
    padding: 9px;
}